<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpinTheImage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SpinTheImage.Properties.Settings>
            <setting name="ClientLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="ClientSize" serializeAs="String">
                <value>996, 777</value>
            </setting>
            <setting name="MainFormMenuItemOutputPng" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormMenuItemOptionChangeBackgroundOfImageAreaWhite"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormMenuItemOptionChangeBackgroundOfImageAreaBlack"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormPlLeftWidth" serializeAs="String">
                <value>561</value>
            </setting>
            <setting name="MainFormTxtFrameRate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MainFormTxtSecound" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MainFormTxtInitialSpeed" serializeAs="String">
                <value>79</value>
            </setting>
            <setting name="MainFormTxtAcceleteRate" serializeAs="String">
                <value>257</value>
            </setting>
            <setting name="MainFormTxtRoteteParameterFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormRdoChangeCanvasChkCenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormRdoChangeCanvasChkCenterX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormRdoChangeCanvasChkCenterY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormRdoChangeCanvasSizeNoChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormRdoChangeCanvasSizeDiagonalSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormRdoChangeCanvasSizeSelectSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormTxtChangeCanvasSizeSelectSizeWidth" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="MainFormTxtChangeCanvasSizeSelectSizeHeight" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="MainFormChkRoop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormTxtRoopCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainFormChkRoopInfinite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormChkRotateToEnd" serializeAs="String">
                <value>True</value>
            </setting>
        </SpinTheImage.Properties.Settings>
    </userSettings>
</configuration>